.myFormLogin {
        background-color: #fffffffc;
        border-radius: 5px;
        padding: 20px;
        color: #005d2d;
        border: 0px;
        box-shadow: -6px -5px 8px #005d2d6f;
        margin-top: 80px;
}

.myFormSignup {
        background-color: #fffffffc;
        border-radius: 5px;
        padding: 20px;
        color: #00255d;
        border: 0px;
        box-shadow: -6px -5px 8px #00255c45;
        margin-top: 20px;
        margin-bottom: 40px;
}

.modal-title {
        margin-left: 14px;
        color: red;
        padding: 10px;
        border-bottom: 1px solid white;
        margin-bottom: 14px;
}

.bgSignup {
        /* background-color: #0000009e;
color: #fff;
border-radius: 50px; */

background-image: linear-gradient(to right, #bed8ff25, #b7b7b731);
}
.bgLogin {
        /* background-color: #0000009e;
color: #fff;
border-radius: 50px; */

background-image: linear-gradient(to right, #b7b7b712, #caffdd39);
}