.btn {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
}

.btn span {
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 11.5px 20px;
    transition: 0.3s;
}

.btn::before{
    background-color: #181819;
    transition: 0.3s ease-out;
    position: absolute;
    content: '';
}

.btn span {
    color: rgb(255, 255, 255);
    border: 1px solid #181819;
    transition: 0.2s 0.1s;
    height: 40px;
}

.btn span:hover {
    color: #181819;
    transition: 0.2s 0.1s;
    height: 40px !important;
}

.btn.hover-filled-slid-up::before{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.btn.hover-filled-slid-up:hover::before{
    height: 0%;
}

.button-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
  }